body{
  font-family: monospace;
}

body{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(wallpaper.png);
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
}


h1{
    /* height: 2vh; */
    margin: 0px;
    /* text-align: center; */
    font-family: monospace;
    font-weight: 100;
    font-size: 1rem;
}

h3{
  margin: 0px;
}

.button{
    opacity: 0.7;
    transition: 1s all;
    text-decoration: none;
}

a{
    color: black;
}

.button:hover{
    opacity: 1;
}

#button1{
    background-color: #99e6ff;
}

#button2{
    background-color: #FFC0C7;
}

#button3{
    background-color: #FFF4A3;
}

#button4{
    background-color: rgb(4, 170, 109);
}