body{
    font-family: monospace;
}

.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: antiquewhite; */
}

.row{
    margin: 5px 5px;
}

.button{
    margin: 0px 5px;
    padding: 20px 20px;
    font-size: 3rem;
    border: 0px solid transparent;
    border-radius: 20px;
}

#row1{
    margin: 0px 0px;
    padding: 0px 0px;
}

#row1 .button{
    font-size: 2rem;
    margin: 5px 0px;
}

.input{
    font-size: 1.1rem;
    padding: 0px 10px;
    height: 40px;
    width: 30vw;
    border: 0px solid transparent;
    border-radius: 20px;
}

@media screen and (max-width: 480px) {
    body {
      background-color: whitesmoke;
    }

    .input{
        width: 80vw;
        background-color: whitesmoke;
        height: 20vh;
        font-size: 3.7rem;
        font-weight: 100;
    }

  }
